body {
  padding: 50px;
  background-color: #586f7c;
  font-family: sans-serif;
  text-align: center;
}

.todoListMain .header h1 {
  color: #ccc9dc;
}

.todoListMain .header input {
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #ccc9dc;
  background-color: #ccc9dc;
  width: 20rem;
}

.todoListMain .header button {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px;
  margin-right: 0px;
  background-color: #324a5f;
  color: #ccc9dc;
  border: 2px solid #324a5f;
}

.todoListMain .header button:hover {
  background-color: #1b2a41;
  border: 2px solid #1b2a41;
  cursor: pointer;
}

ul.theList {
  margin-top: 2rem;
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.theList li {
  color: #0c1821;
  background-color: #ccc9dc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
  max-width: 28.5rem;
  text-align: left;
  transition: background-color 0.2s ease-out;
}

ul.theList li:hover {
  background-color: #e5625e;
  color: #ccc9dc;
  cursor: pointer;
}
